
<div class="container">
  <div class="row">
    <div class="col-4">
      
    </div>
    <div class="col-4">
      <!-- center -->
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>LOGIN</mat-card-title>
        </mat-card-header>
        <div id="logo">
          <img mat-card-image src="./assets/dotnetAngular.png" alt="Logo" width="300" height="290" class="d-inline-block align-text-top">           
        </div>
        <mat-card-content>
          <!-- EMAIL -->
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input type="text" matInput >
          </mat-form-field>
          <!-- PASSWORD -->
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input type="password" matInput >
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div id="logo">
            <button mat-raised-button color="primary">LOGGIN</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    </div>
    <div class="col-4">
      
    </div>
  </div>
  

