<mat-toolbar color="primary">
    <mat-toolbar color="primary">
      <!-- <img src="./assets/angular1.png" alt="Logo" width="45" height="45" class="d-inline-block align-text-top"> -->

      <button mat-button [matMenuTriggerFor]="aboveMenu" *ngIf="role === 'Admin'">Users</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button mat-menu-item (click)="usersForm()">Form</button>
          <button mat-menu-item (click)="usersList()">List</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="belowMenu">Movies</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="moviesForm()">Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu">Actors</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="actorForm()">Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="afterMenu">Genders</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item (click)="genderForm()">Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

    </mat-toolbar>
    <button mat-raised-button 
            color="primary" 
            [matMenuTriggerFor]="menu"
            matTooltip="My profile"
            >{{unique_name}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
        matTooltip="Dark mode">
          <mat-icon>{{icon}}</mat-icon>
          <span class="example-spacer"></span>
        <mat-slide-toggle (ngModelChange)="onChange($event)" [ngModel]="isDarkThemeActive" >{{mode}}</mat-slide-toggle>
        </button>
        <button 
          mat-menu-item
          matTooltip="My propierties">
          <mat-icon>person</mat-icon>
          <span>{{role}}</span>
        </button>
        <button 
          mat-menu-item 
          matTooltip="Exit to application"
          (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
      </button>
      </mat-menu>
      
        
</mat-toolbar>